// Taken from https://quasar.dev/style/visibility
$xs: '(max-width: 600px)';
$sm: '(max-width: 1023px)';
$md: '(min-width: 1024px)';

$xl-screen: 1200px;

$icon-filter-white: invert(100%) sepia(2%) saturate(7444%) hue-rotate(290deg)
  brightness(108%) contrast(97%);

.q-field__bottom {
  padding: 4px 12px 0 !important;
}

.container-responsive {
  margin-inline: auto;
  width: 90%;
  max-width: $xl-screen;
}

.input-field {
  max-width: 300px;
  margin: auto;
}

.email-exists {
  max-width: 300px;
  color: var(--q-negative);
  padding: 0 !important;
}
